<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.dao.UserConfigMapper">
  <resultMap id="BaseResultMap" type="com.ai.domain.bo.UserConfig">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ai.domain.bo.UserConfig">
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
  <sql id="Blob_Column_List">
    `value`
  </sql>
  <insert id="insert" parameterType="com.ai.domain.bo.UserConfig">
    insert into user_config (user_id, `key`, `value`
      )
    values (#{userId,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.domain.bo.UserConfig">
    insert into user_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="value != null">
        `value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>