<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.dao.VoiceMapper">
  <resultMap id="BaseResultMap" type="com.ai.domain.bo.Voice">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="pcm" jdbcType="VARCHAR" property="pcm" />
  </resultMap>
  <sql id="Base_Column_List">
    hash, `path`, pcm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voice
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from voice
    where hash = #{hash,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ai.domain.bo.Voice">
    insert into voice (hash, `path`, pcm
      )
    values (#{hash,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{pcm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.domain.bo.Voice">
    insert into voice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        hash,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="pcm != null">
        pcm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="pcm != null">
        #{pcm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.domain.bo.Voice">
    update voice
    <set>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="pcm != null">
        pcm = #{pcm,jdbcType=VARCHAR},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.domain.bo.Voice">
    update voice
    set `path` = #{path,jdbcType=VARCHAR},
      pcm = #{pcm,jdbcType=VARCHAR}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
</mapper>